.bannerBg{
    background-image: url(../../assets/vegetables-set-left-black-slate.jpg);
    height: 100vh;
    width: 100%;
    background-position: center ;
    background-size: cover;
    background-repeat: repeat;
}
.overlay{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover:hover{
    color: red;
}